<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center" *ngIf="authType == 'register'">註冊</h1>
        <h1 class="text-xs-center" *ngIf="authType == 'login'">登入</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>

        <ul class="error-messages" *ngIf="error">
          <li>That email is already taken</li>
        </ul>

        <form formGroup="authForm" (ngSubmit)="submitForm()">
          <fieldset class="form-group">
            <input class="form-control form-control-lg"
                   formControlName="username"
                   type="text"
                   placeholder="User Name"｀
                   *ngIf="authType == 'register'">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg"
                   formControlName="email"
                   type="text"
                   placeholder="Email">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg"
                   formControlName="password"
                   type="password"
                   placeholder="Password">
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" *ngIf="authType == 'register'" type="submit">
            註冊
          </button>
          <button class="btn btn-lg btn-primary pull-xs-right" *ngIf="authType == 'login' "type="submit">
            登入
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
