<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="articleForm">
          <fieldset>
            <fieldset class="form-group">
                <input type="text"
                       class="form-control form-control-lg"
                       placeholder="文章標題"
                       formControlName="title">
            </fieldset>
            <fieldset class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="這篇文章關於什麼？"
                       formControlName="description">
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control"
                          rows="8"
                          placeholder="寫下文章(markdown)"
                          formControlName="body"></textarea>
            </fieldset>
            <!-- <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Enter tags"><div class="tag-list"></div>
            </fieldset> -->
            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (ngSubmit)="onSubmit(articleForm)" >
                發佈文章
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
