<div class="article-preview" *ngFor="let article of articles">
   <div class="article-meta">
    <a href="profile.html"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
    <div class="info">
      <a href="" class="author">Eric Simons</a>
      <span class="date">January 20th</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> 29
    </button>
  </div>
  <a [routerLink]="['/article', article.id]" class="preview-link">
    <h1>{{ article.title }}</h1>
  </a>
    <p>文章id:{{ article.id }}</p>
    <p>{{ article.description }}</p>
    <span>
      <a class ='btn btn-sm btn-outline-secondary' href="/editor/eeee-83ezkp">
        <i class="ion-edit">
           Edit Atricle
        </i>
      </a>
      <button class="btn btn-sm btn-outline-danger">
        <i class="ion-trash-a"> Delete Article </i>
      </button>
    </span>

 </div>
